$max-n-vars: 20;

@for $i from 1 through $max-n-vars {
  :nth-child(#{$i}) {
    --n: #{$i};
    @if (#{$i} == 1) {
      --first: true;
    }
    @else {
      --first: unset;
    }
  }
}
