
@media only screen and (max-width: 640px) {

  img, svg, .xmb-icon {
    filter: drop-shadow(0 0 0.25rem black);
    color: white;
    width: 60px;
    height: 60px;
  }
}

@media only screen and (min-width: 641px) {
  img, svg, .xmb-icon {
    filter: drop-shadow(0 0 0.25rem black);
    color: white;
    width: 80px;
    height: 80px;
  }
}