.wii-boot-instructions {
  opacity: 0;
  animation: flashing 1.4s ease-in-out 3s both infinite;
}

@keyframes flashing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}