.brix-boot {
  background-color: #161616;
}

.brix-boot-fg {
  bottom: 0;
  position: fixed;
  animation: keyframes-fg 10s ease-in-out 0s 1 normal both;
}

.brix-boot-fg-image {
  fill: white;
}

.brix-boot-fireworks {
  z-index: 100;
  animation: keyframes-fireworks 10s ease-in-out 0s 1 normal both;
}

@keyframes keyframes-fireworks {
  0% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes keyframes-fg {
  0% {
    opacity: 0;
    height: 50%;
  }
  10% {
    opacity: 1;
    height: 50%;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    height: 70%;
  }
  100% {
    opacity: 0;
    height: 200%;
  }
}

