@use "sass:color";
@use "sass:list";
@use "sass:math";

*,
*:after,
*:before {
  box-sizing: border-box;
}

$duration: 16s;

$grey: #616a92;
$dark: #323641;
$light: color.adjust($grey, $lightness: 15%);
$hidden-boot-boxes: 41, 40, 47, 48, 46, 95, 94, 102, 101;

$depth: 20vw;

$cube-inner-shadow: inset 0 0 1vw rgba(cyan, 0.07);

.ps2-boot {
  interactivity: inert;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;

  .ps2-boot-screen {
    width: 100%;
    padding-top: 75%;
    position: relative;
    max-height: 100vh;
    transform-style: preserve-3d;
    perspective: 400px;
    overflow: visible;
    animation: content $duration infinite;
    font-family: "Play", sans-serif;

    .ps2-boot-inner {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100vw;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      padding: 1%;
      padding-top: 10%;
      transform-style: preserve-3d;
      //transform: rotate(-20deg);
      animation: enter $duration cubic-bezier(1, 0, 0.4, 1) infinite;

      .ps2-boot-inner-bg {
        background-image: url(https://res.cloudinary.com/dhpaysqxb/image/upload/v1568580561/nebula_prju57.png);
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transform: translateZ(-30vw) scale(1.4);
        opacity: 0.8;
      }

      .ps2-boot-box-container {
        width: calc(100% / 14);
        padding: 1%;
        position: relative;
        z-index: 100;
        transform-style: preserve-3d;
      }

      .ps2-boot-box {
        width: 100%;
        padding-top: 100%;
        position: relative;
        transform-style: preserve-3d;
      }

      @for $i from 1 through 112 {
        .ps2-boot-box-container:nth-child(#{$i}) .ps2-boot-box {
          transform: translateZ(math.random(20)-20 + vw);
          background-color: rgba(
            color.adjust($light, $lightness: math.random(55) * 1%),
            0.95
          );
          @if list.index($hidden-boot-boxes, $i) {
            visibility: hidden;
          }
        }
      }

      // @each $box in $hidden-boot-boxes {
      //   .ps2-boot-box-container:nth-child(#{$box}) .ps2-boot-box {
      //     visibility: hidden;
      //   }
      // }

      .ps2-boot-box .ps2-boot-top,
      .ps2-boot-box .ps2-boot-bottom,
      .ps2-boot-box .ps2-boot-left,
      .ps2-boot-box .ps2-boot-right {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .ps2-boot-box .ps2-boot-top {
        background: linear-gradient(
          to top,
          rgba(color.adjust($grey, $lightness: 20%), 0.9),
          rgba(0, 0, 0, 0)
        );
        bottom: 100%;
        left: 0;
        height: $depth;
        transform-origin: 100% 100%;
        transform: rotateX(90deg);
        box-shadow: $cube-inner-shadow;
        //opacity: 0;
      }
      .ps2-boot-box .ps2-boot-bottom {
        background: linear-gradient(
          to bottom,
          rgba(color.adjust($grey, $lightness: 2%), 0.9),
          rgba(0, 0, 0, 0)
        );
        top: 100%;
        left: 0;
        height: $depth;
        transform-origin: 0% 0%;
        transform: rotateX(-90deg);
        box-shadow: $cube-inner-shadow;
      }
      .ps2-boot-box .ps2-boot-left {
        background: linear-gradient(
          to left,
          rgba(color.adjust($grey, $lightness: 10%), 0.9),
          rgba(0, 0, 0, 0)
        );
        top: 0;
        right: 100%;
        width: $depth;
        transform-origin: 100% 100%;
        transform: rotateY(-90deg);
        box-shadow: $cube-inner-shadow;
      }
      .ps2-boot-box .ps2-boot-right {
        background: linear-gradient(
          to right,
          rgba(color.adjust($grey, $lightness: 10%), 0.9),
          rgba(0, 0, 0, 0)
        );
        top: 0;
        left: 100%;
        width: $depth;
        transform-origin: 0% 0%;
        transform: rotateY(90deg);
        box-shadow: $cube-inner-shadow;
      }
    }

    .ps2-boot-bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100vw;
      opacity: 1;
      z-index: 1;
      animation: hide 0.5s ease-in-out 7s forwards;
    }

    .ps2-boot-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      color: white;
      background: transparent;
      z-index: 1;
      animation: content $duration infinite;
      .ps2-boot-branding,
      .ps2-boot-copyright {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      .ps2-boot-copyright {
        font-size: 2.5rem;
        text-shadow: black 0px 0px 3px;
        opacity: 0;
        animation: copyright $duration linear infinite;
      }
      .ps2-boot-branding {
        font-size: 5rem;
        opacity: 0;
        animation: branding $duration cubic-bezier(0, 0.74, 0.46, 1) infinite;
      }
    }
  }
}

@keyframes enter {
  0% {
    transform: rotate(-20deg);
  }
  60%,
  100% {
    transform: rotate(100deg) scale(4);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes copyright {
  0%,
  5% {
    opacity: 0;
  }
  10%,
  35% {
    opacity: 1;
  }
  40%,
  100% {
    opacity: 0;
  }
}

@keyframes content {
  0% {
    background-color: black;
  }
  5%,
  43% {
    background: transparent;
  }
  48%,
  100% {
    background-color: black;
  }
}

@keyframes branding {
  0%,
  65% {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(1.5);
  }

  68%,
  93% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale(1);
  }

  96%,
  100% {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(1.5);
  }
}

.ps2-boot-particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
}

.ps2-boot-particles span {
  display: block;
  height: 1px;
  width: 1px;
  background: white;
  position: absolute;
}

.ps2-boot-particles span:nth-child(1) {
  left: 70%;
  top: 70%;
  box-shadow: 0 0 10px 4px rgba(red, 0.8);
  animation: particle-1 div($duration, 2) cubic-bezier(0, 0.74, 0.46, 1)
    infinite;
}
.ps2-boot-particles span:nth-child(2) {
  left: 70%;
  top: 50%;
  box-shadow: 0 0 10px 4px rgba(green, 0.8);
  animation: particle-2 div($duration, 2) cubic-bezier(0, 0.74, 0.46, 1)
    infinite;
}
.ps2-boot-particles span:nth-child(3) {
  left: 15;
  top: 75%;
  box-shadow: 0 0 10px 4px rgba(blue, 0.8);
  animation: particle-3 div($duration, 2) cubic-bezier(0, 0.74, 0.46, 1)
    infinite;
}

@keyframes particle-1 {
  0% {
    opacity: 0;
    transform: none;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(-25vw, -20vw);
    opacity: 0;
  }
}

@keyframes particle-2 {
  0% {
    opacity: 0;
    transform: none;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(-40vw, 10vw);
    opacity: 0;
  }
}

@keyframes particle-3 {
  0% {
    opacity: 0;
    transform: none;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(45vw, -20vw);
    opacity: 0;
  }
}

.ps2-boot-is-small {
  font-size: 0.3em;
}
