.clock-icon {
  width: 100% !important;
  height: 100% !important;
  margin: 0;
}

.clock, .psp-clock {
  position: absolute;
}
/*
border-white border-[1.5px] border-r-0 */

.clock {
  top: 5%;
  right: 0;
  border-width: 1.5px;
  border-color: white;
  border-right: 0;
}

.dreamcast-clock {
  top: 5%;
  right: 2%;
  border: 0;
  border-color: transparent;

  .clock-container {
    text-align: right;
  }
}

.psp-clock {
  top: 5px;
  right: 0;
  border: 0;
  border-color: transparent;
}