// TODO: merge the styles from secret-background.css into this scss file

.root-container:not(:has(.secret-bg)) {
  .psp-clock {
    /* border-color: black !important; */
    text-shadow: -1px -1px 0 #0000009f, 1px -1px 0 #0000009f, -1px 1px 0 #0000009f, 1px 1px 0 #0000009f;
  }

  .clock svg, .clock img, .psp-clock svg, .psp-clock img {
    filter: drop-shadow(0 0 1px black);
  }
}

.secret-background {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background-color: black;
}

.secret-missing-no .background-container {
  opacity: 0.3;
}

.secret-konami-code .background-container {
  opacity: 0.5;
}

// silent hill
.secret-404 .background-container {
  opacity: 0.6;
}

.secret-oceangate .background-container {
  opacity: 0.8;
}

.secret-android .background-container {
  opacity: 0.3;
  image-rendering: optimizeQuality;
  background-color: black;
}
