// TODO: merge the styles from secret-background.css into this scss file

.root-container:has(.dreamcast-bg) {

  font-weight: bold;
  font-stretch: 150%;
  letter-spacing: 1px;
  text-shadow: -1px -1px 1px #000000e3, 1px -1px 1px #000000e3, -1px 1px 1px #000000e3, 1px 1px 1px #000000e3;

  .clock {
    border-color: #3f3f3f;
    border-width: 1.5px;
  }

  .clock, .clock-container {
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000000bb, 1px -1px 0 #000000c7, -1px 1px 0 #0000009f, 1px 1px 0 #0000009f;

    svg, img {
      filter: drop-shadow(0 0 1px #ffffff) drop-shadow(0 0 1px #ffffffda) invert(100%);
      color: black;
    }

  }

  .xmb-category-title, .xmb-item-name, .xmb-item-description {
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    filter: drop-shadow(0 0 1px #111111) drop-shadow(0 0 2px #7a7a7ac0);
    text-shadow: 0 0 1px #000000fa, 0 0 2px #000000d3, 0 0 1px #00000073, 0 0 1px #00000056;
  }

  p, span {
    letter-spacing: 2px;
    text-shadow: -1px -1px 1px #000000e3, 1px -1px 1px #000000e3, -1px 1px 1px #000000e3, 1px 1px 1px #000000e3;
  }

  img, svg {
    filter:
      drop-shadow(0 0 1px #000000) drop-shadow(0 0 2px #131313ef) invert(2%) ;
  }
}

.dreamcast-bg {
  opacity: 1.0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background:
    radial-gradient(circle at 50% 75%, rgba(255,255,255,.55), transparent 30%),
    linear-gradient(#bfe3ff 0%, #87afe4 55%, #5178c8 100%);
}